.dashboard__item--container {
    width: 80%;
    height: auto;
    padding: 1em 0;
    margin: auto;
}

.dashboard__estatic--item {
    width: 7em;
    height: auto;
    padding: 0.5em;
    text-align: center;
    background-color: white;
    color: #82c1d7;
    border: solid 1px #82c1d7;
    border-radius: 10px;
    margin: 0 auto 1.5em;
}

.dashboard__estatic--item img{
    margin: 0.5em auto;
}

.dashboard__estatic--container {
    display:  flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.dashboard__lista {
    padding: 0 0 1em 0;
    width: 100%;
    height: auto;
    background-color: #f5fafc;
    padding: 1em 0;
}

.dashboard__lista h2{
    text-align: center;
    margin-top: 0.5em; 
    color: #808080;
}

.dashboard__lista--header {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.dashboard__lista--select {
        width: auto;
        background-color: #82c1d7;
        text-align: center;
        border-radius: 15px;
        padding: 3px 20px;
        margin: 0.8em auto;
        color: white;
        border: solid 1px #82c1d7;
        font-size: 1em;
}

.dashboard__lista--select:hover {
    transition: 0.5s;
    outline: none;
    background-color: #419bbb;
}

.dashboard__lista--select:focus {
    outline: none;
}

.dashboard__lista--select-option {
    color: #419bbb;
    background-color: white;
    border: solid 1px #419bbb;
}

.dashboard__table--table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
}

.dashboard__lista--table-container {
    box-shadow: 0 0 5px gray;
}

.dashboard__table--info {
    border-bottom: solid 1px #82c1d7;
}

.dashboard__table--info td {
    padding: 1.2em 0.5em 0.5em;
}

@media (min-width: 420px){
    .dashboard__estatic--item {
        width: 8em;
    }
}

@media (min-width: 600px) {
    .dashboard__item--container {
        width: 70%;
    }

    .consultas__consulta--item-infos-prot {
        margin: 0.5em 0 0.5em 0.5em;
    }

    .consultas__consulta--item-infos {
        padding: 1em;
    }
}
