

.consultas__consulta {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.consultas__consulta--item {
    background-color: #82c1d7;
    border-radius: 10px;
    padding: 1px;
    margin: 1em auto;
    box-shadow: 0px 0px 4px gray;
}

.consultas__consulta--item-infos {
    background-color: white;
    border-radius: 10px;
    padding: 0.4em;
}

.consultas__consulta--item-infos-prot {
    margin: 0.4em 0 0.4em 0.4em;
    color: white;
}

.consultas__consulta--item-infos th {
    width: 50%;
    text-align: left;
    color: #bfbfbf;
    font-size: 0.9em;
}

.consultas__consulta--item-descricao th, td {
    height: 19px;
}

.consultas__consulta--item-infos-desc {
    padding: 0 0.5em;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
}

.consultas__consulta--item-input-desc {
    border: none;
    text-decoration: none;
    background-color: rgb(135, 135, 253, 0.2);
    border-radius: 7px;
    border: solid 1px rgb(135, 135, 253, 0.3);
    margin: 10px 0 10px 0;
    width: 100%;
    height: 8em;
    padding: 0.5em;
    resize: none;
}

.consultas__consulta--item-input-desc:focus {
    outline: none;
    background-color: rgb(135, 135, 253, 0.3);
    border: solid 1px rgb(135, 135, 253, 0.4);
}

.consultas__table{
    width: 90%;
    margin: auto;
}

.consultas__table--table {
    border-collapse: collapse;
    width: 100%;
    margin: 1em auto;
}

.consultas__table--header th {
    background-color: #82c1d7;
    color: white;
    width: auto;
    margin: auto;
    text-align: center;
    vertical-align: center;
    padding: 0.5em;
}

.consultas__table--info td {
    text-align: center;
    padding: 0.5em;
}

.dashboard__table--info td {
    padding: 1.2em 0.5em 0.5em;
}

.consultas__table--table-textarea {
    margin: 1em auto 0;
}

.consulta__table--display-none {
    display: none;
}

/* lista */

.consultas__lista {
    width: 100%;
    margin: auto;
    background-color: white;
    border: solid 1px #82c1d7;
}

.consultas__lista--lista {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
}

.consultas__ldescista--desc{
    width: 45%;
    padding: 0.5em 0 1.5em 0.5em;
    text-align: left;
}

.consultas__lista--header th {
    background-color: #82c1d7;
    color: white;
    width: auto;
    margin: auto;
    text-align: center;
    vertical-align: center;
    padding: 0.5em;
}

.consultas__lista--info td {
    text-align: center;
    padding: 0.5em 0.5em 1.5em;
    vertical-align: top;
    border-bottom: solid 1px #82c1d7;
}

.consultas__consulta--button-display-none {
    text-align: center;
    margin: 0.5em 0 0 0;
}

/* Ricardo Paulo */

.dashboard__lista--table{
    width: 100%;
}

@media (min-width: 600px) {
    .consultas__consulta {
        width: 70%;
    }

    .consultas__consulta--item-infos-prot {
        margin: 0.4em 0 0.4em 0.7em;
    }

    .consultas__consulta--item-infos {
        padding: 0.7em;
    }

    .consultas__consulta--item-descricao th, td {
        height: 21px;
    }

    .consultas__consulta--item-infos-desc {
        padding: 0.3em 0.5em 0;
        font-size: 1em;
    }
}

@media (min-width: 768px) {
    .consultas__consulta {
        width: 70%;
    }

    .consultas__consulta--item-infos-prot {
        margin: 0.5em 0 0.5em 1em;
    }

    .consultas__consulta--item-infos {
        padding: 1em;
    }

    .consultas__consulta--item-descricao th, td {
        height: 25px;
    }

    .consultas__consulta--item-infos-desc {
        padding: 0.5em 0.5em 0;
    }
}

@media (min-width: 900px) {
    .consultas__consulta--display-none {
        display: none;
    }

    .consulta__table--display-none {
        display: block;
    }
}

@media (min-width: 1366px) {
    
}