h1 {
    font-size: 1.8em;
}

.login__outlogin p {
    font: 1em;
    color: #808080;
}

.login__container {
    width: 100%;
}

.login__main {
    width: 100%;
    height: auto;
}

.login__login-background{
    background: url("../img/login-img-login-min.jpg");
    background-size: cover;
}

.login__login{
    padding: 0.5em 0.5em 2em 0.5em;
    background-image: linear-gradient(30deg, rgba(0, 255, 0, 0.6), rgba(0, 0, 255, 0.6));
    text-align: center;
}

.login__login--home {
    width: 100%;
    text-align: left;
}

.login__login--home img{
    width: 6%;
}

.login__login--form {
    display: flex;
    flex-direction: column;
    
}

.login__login--input {
    width: 80%;
    height: 30px;
    border: none;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 7px;
    margin:0 auto 1em auto;
    padding: 0.5em;
    color: gray;
}

.login__login--input::placeholder {
    text-align: center;
    color: gray;
}

.login__login--input:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.9);
}

.login__outlogin {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.login__outlogin--our-fist {
    width: 16em;
    height: 35px;
    margin: 20px auto 0 auto;
}

.login__outlogin--our {
    width: 16em;
    height: 35px;
    margin: 10px auto 20px auto;
}

.login__outlogin--linha {
    width: 70%;
    height: 1px;
    background-color: #cccccc;
    margin: 15px auto 10px auto;
}

.login__outlogin--p-pequeno {
    font-size: 0.9em;
    color: #9a9a9a;
}

.login__divisoria--circulo {
    width: 38px;
    height: 38px;
    border-radius: 100%;
    box-shadow: 0px 0px 8px grey;
    background-color: white;
    padding: 0.7em 0.5em;
    margin: 0 auto;
    position: relative;
    top: -19px;
    text-align: center;
    color: gray;
}

@media (min-width: 420px){
    .login__login--input {
        width: 65%;
    }
}

@media (min-width: 600px){
    .login__login--input {
        width: 50%;
    }

    .login__login--home img {
        width: 5%;
    }
}

@media (min-width: 768px){
    .login__container {
        background-color: rgb(245, 245, 245);
        padding: 2em 0;
        min-height: 800px;
    }

    .login__main {
        width: 70%;
        margin: 0 auto;
        box-shadow: 0px 0px 5px grey;
        padding-bottom: 2em;
        background-color: white;
    }
}

@media (min-width: 900px) {
    .login__main {
        width: 60%;
    }

    .login__login--home img {
        width: 4%;
    }

    .login__login--input {
        font-size: 1em;
    }

    h1 {
        font-size: 2em;
    }

    .login__login--titulo {
        margin: 0.7em 0 0.7em 0;
    }

    .login__container {
        padding: 3em 0;
    }
}

@media (min-width: 1366px) {
    .login__main {
        width: 50%;
    }

    .login__container {
        padding: 4em 0;
    }
}

@media (min-width: 1920px) {
    .login__main {
        width: 30%;
    }

    .login__container {
        padding: 5em 0;
    }
}