*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.style__main--container{
    width: 100%;
    height: auto;
    background-color: #f5fafc;
    padding: 1em 0;
}

.style__logo--circulo {
    width: 38px;
    height: 38px;
    border-radius: 100%;
    background-color: white;
    padding: 0.5em;
    margin: 0 auto;
}

.style__logo--circulo img {
    width: 23px;
    height: 23px;
}

.style__menu--titulo {
    text-transform: uppercase;
    margin: 0.5em 0 0 0;
    color: white;
    font-size: 2em;
}

.style__nav--links p {
    text-transform: uppercase;
}

.login__login--titulo {
    margin: 0.5em 0 0.5em 0;
}

.style__button--white {
    width: auto;
    background-color: transparent;
    text-align: center;
    margin: 0 auto;
    border-radius: 15px;
    padding: 3px 20px;
    margin: 0.4em auto 0.8em auto;
    color: white;
    border: solid 1px white;
}

.style__button--white:hover {
    transition: 0.5s;
    background-color: rgb(255, 255, 255, 0.2);
    color: white;
    transition: 0.1s;
}

.style__button--white:focus {
    transition: 0.1s;
    outline: none;
    background-color: rgb(255, 255, 255);
    color: gray;
}

.style__button--blue {
    width: auto;
    background-color: #82c1d7;
    text-align: center;
    border-radius: 15px;
    padding: 3px 20px;
    margin: 0.8em auto;
    color: white;
    border: solid 1px #82c1d7;
    font-size: 1em;
}

.style__button--blue:hover {
    transition: 0.5s;
    outline: none;
    background-color: #419bbb;
}

.style__button--blue:focus {
    transition: 0.1s;
    outline: none;
    background-color: transparent;
    color: #82c1d7;
}

.style__titulo--linha {
    width: 60%;
    height: 1px;
    background-color: #808080;
    opacity: 0.5;
    margin: 2px auto 1.2em auto;
}

/* Menu */

.style__menu--container {
    width: 100%;
}

.style__menu--background {
    background: url("../img/menu-img-min.jpg");
    background-size: cover;
}

.style__menu {
    padding: 0.5em;
    background-image: linear-gradient(30deg, rgba(0, 255, 0, 0.6), rgba(0, 0, 255, 0.6));
    text-align: center;
}

.style__menu--nav {
    display:  flex;
    flex-direction: row;
}

.style__menu--nav-button {
    width: 20%;
}

.style__menu--button-display-none {
    display: block;
}

.style__logo--circtittle {
    display: flex;
    margin: auto;
}

.style__logo--circtittle h1 {
    color: white;
    font-size: 1.5em;
    margin: 0.4em 1em;
    text-transform: uppercase;
}

.style__nav--display-none {
    display: none;
}

.style__nav {
    margin: 1.5em auto 1.5em;
}

.style__nav--links {
    color: white;
    font-size: 1.2em;
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

.style__nav--padding {
    margin: 1.5em auto 0.5em;
}

.style__menu--linha-white {
    width: 80%;
    height: 1px;
    background-color: white;
    margin: 2px auto 1.2em auto;
}

.style__menu--linha-padding {
    margin: 2px auto 0.5em auto;
}

/* Rodape */

.style__rodape {
    width: 100%;
    padding: 1em 5% 0;
    background-color: #333333;
    color: white;
}

.style__rodape--titulo {
    font-size: 1.1em;
}

.style__rodape--infos {
    font-size: 0.9em;
    display: flex;
    flex-direction: row;
    margin: 1em 0 0 0;
}

.style__rodape--infos-links {
    margin: 0 auto 1em;
}

.style__rodape--infos-links p {
    margin-bottom: 0.2em;
}

/* Media Queries */

@media (min-width: 420px) {
    .style__rodape {
        padding: 1em 10% 0;
    }
}

@media (min-width: 600px) {
    .style__rodape {
        width: 100%;
        padding: 1em 15% 0;
    }
    .style__logo--circulo {
        width: 41px;
        height: 41px;
        padding: 0.6em;
    }

    .style__logo--circulo img {
        width: 24px;
        height: 24px;
    }

    .style__menu--nav-button {
        width: 12%;
    }

    .style__rodape--links-wrap {
        display: flex;
        flex-wrap: wrap
    }

    .style__rodape--links-wrap-p {
        min-width: 50%;
    }
}

@media (min-width: 768px) {
    .style__menu--titulo {
        margin: 0.5em 0 0.3em 0;
    }

    .style__rodape--infos-links {
        margin: 0 0 1em 0;
    }

    .style__titulo--linha {
        width: 50%;
    }

    .style__menu--button-display-none {
        display: none;
    }

    .style__nav--display-none {
        display: block;
    }
}

@media (min-width: 900px) {
    .style__button--white {
        padding: 5px 25px;
        font-size: 0.9em;
    }

    .style__logo--circulo {
        width: 45px;
        height: 45px;
        padding: 0.7em 0.6em;
    }

    .style__logo--circulo img {
        width: 25px;
        height: 25px;
    }

    .style__button--white {
        margin: 0.6em auto 1em auto;
    }

    .style__menu--nav-button {
        width: 12%;
    }

    .style__menu--titulo {
        margin: 0.7em 0 0.3em 0;
    }
}

@media (min-width: 1366px) {
    .style__menu--nav-button {
        width: 8%;
    }

    .style__menu--titulo {
        margin: 1em 0 0.3em 0;
    }
}

